@charset "UTF-8";

header > h1 {
	padding-left: 10px;
}

.app-title-image {
	height: 28px;
}

.app-menu {
    width: 100%;
    height: 50px;
    position: relative;
    background-color: #3B4CCA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-menu .app-menu__logo {
	height: 29px;
	width: 50px;
	display: inline-block;
}

.app-menu .app-menu__logo > img {
	position: absolute;
	width: 48px;
}

.app-menu .app-menu__nav {
	display: inline-block;
}

.app-menu a {
	height: 38px;
	display: inline-block;
	color: #ffffff;
	outline: none;
  	text-decoration: none;
  	padding: 12px 15px 0px 15px;
}

.app-menu a:hover {
	background-color: #3d82cd;
	transition: ease-out 0.25s background-color;
}